* text=auto
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.ini text eol=lf
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.blend filter=lfs diff=lfs merge=lfs -text
*.uasset filter=lfs diff=lfs merge=lfs -text
*.umap filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.png binary
*.jpg binary
*.jpeg binary
*.gz binary
*.obj filter=lfs diff=lfs merge=lfs -text
